/* Calculator Screen div */
/* #calc-screen {
    text-align: right;
} */

/* Button Containers */
.btn-container {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0;
}

/* The image held in button id="backspace" */
#backspace-img {
    max-height: 22px;
    max-width: 22px;
}

/* All numpad buttons */
.numpad-btn {
    border-width: 1px;
    border-color: black;
    background-color: rgba(158, 158, 158, 0.805);
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.numpad-btn:hover {
    background-color: rgba(158, 158, 158, 0.482);
}

/* Numpad modifier buttons */
.numpad-operator {
    background-color: rgb(243, 164, 28);
}

.numpad-operator:hover {
    background-color: rgba(243, 164, 28, 0.765);
}

/* Clear button */
#clear {
    width: 80px;
}

/* "0" button */
#numpad-0 {
    width: 120px;
}